h1 { text-transform: lowercase; }

h1:first-letter {
  text-transform: uppercase;
}

#error{
    color: red;
}

.nope {
    display: none;
}

.tipos {
    display: flex;
    justify-content: space-around;
}

.info {
    display: flex;
    justify-content: space-around;
}